{% extends "@FOSUser/layout.html.twig" %}

{% block content1 %}
{% include "@FOSUser/Profile/show_content.html.twig" %}
{% endblock content1 %}

{% block context %}
    <a href='{{ path('fos_user_change_password') }}'>{% trans %} action.change.password {% endtrans %}</a><br>
    <a href='{{ path('fos_user_profile_show') }}'>{% trans %} action.show.profile {% endtrans %}</a><br>
    <a href='{{ path('fos_user_profile_edit') }}'>{% trans %} action.edit.profile {% endtrans %}</a><br>
    {% if is_granted('ROLE_ADMIN') %}
             <a href='{{ path('fos_user_registration_register') }}'>{% trans %} action.add.user {% endtrans %}</a><br>
             <a href='{{ path('usersummary') }}'>{% trans %} action.show.users {% endtrans %} </a><br>
    {% endif %}
    <a href='{{ path('change_language') }}'>{% trans %} action.change.language {% endtrans %} </a><br>
{% endblock %}