<style>
    .eas_form_segment {
        display: grid;
        /* height: 600px; */
        grid-template-columns: 1fr 250px 4fr 1fr 150px 4fr;
        grid-template-rows: 100px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 10px;
        /* align-items: center; */
    }

    .eas_input_cell {
        height: 100%;
    }

    .eas_input {
        width: 100%;
    }

    .eas-operator-btn {
        height: 36px;
        width: 36px;
    }

</style>

<script>
    const SEARCH_FORM = "#search_form";
    const QUERY_FORM = "#eas_form";

    const EAS = (function(){
        const KEYS = {
            'category': 'c',
            'status': 's',
            'barcode': 'b',
            'name': 'n',
            'note': 'note',
            'description': 'desc',
            'history_description': 'hdesc',
            'user': 'u',
            'history_user': 'hu',
            'reserved': 'r',
            'history_reserved': 'hr',
            'location': 'l',
            'history_location': 'hl',
            'case': 'case',
            'history_case': 'hcase',
            'caseactive': 'caseactive',
            'type': 'type',
            'form_factor': 'ff',
            'size': 'size',
            'manufacturer': 'prod',
            'model': 'modell',
            'product_number': 'pn',
            'serial_number': 'sn',
            'connector': 'connector',
            'date': 'd',
        }

        const parseForm = function(form){
            let query = [];
            
            
            const getQueryElement = (name) => {
                for (let index = 0; index < query.length; index++) {
                    const element = query[index];
                    if (name === query[index]['name']){
                        return index;
                    }
                }
                return query.push({name: name, val:''}) -1;
            }
            
            form.serializeArray().forEach(elem => {
                // check if elem is operator
                if(elem.name.endsWith(".operator")) {
                    const name = elem.name.split(".")[0];
                    const operator = elem.value;

                    // get query row index
                    const i = getQueryElement(name);
                    switch (operator) {
                        default:
                        // equal
                        case "":
                            query[i]['op'] = '';
                            query[i]['neg'] = false;
                            break;
                        // not equal
                        case "!":
                            query[i]['op'] = '';
                            query[i]['neg'] = true;
                            break;
                        // less then
                        case "<":
                            query[i]['op'] = '<';
                            query[i]['neg'] = false;
                            break;
                        // greater then
                        case ">":
                            query[i]['op'] = '>';
                            query[i]['neg'] = false;
                            break;
                            // range
                        case "<>":
                            query[i]['op'] = '>=';
                            query[i]['neg'] = false;
                            // add additional entry for end date
                            query.push({
                                name: 'date',
                                op: '<=',
                                neg: false,
                                val:$("#eas_date_end").val()
                            });
                            break;
                        // true
                        case "*":
                            query[i]['op'] = '';
                            query[i]['mod'] = 't';
                            query[i]['neg'] = false;
                            break;
                        // false
                        case "-":
                            query[i]['op'] = '';
                            query[i]['mod'] = 'f';
                            query[i]['neg'] = false;
                            break;
                    }
                }
                else {
                    const name = elem.name;
                    const value = elem.value;

                    if(value){
                        // get query row index
                        const i = getQueryElement(name);
                        if(query[i]['val']){
                            query[i]['val'].push(value); 
                        }
                        else {
                            query[i]['val'] = [value];
                        }
                    }
                }
            });

            console.log(query);
            
            return query.reduce((acc, cur) => {
                let val = cur['mod'] ?? cur['val'];
                if(Array.isArray(val)){
                    val = val.length > 1 ? `[${val.join("|")}]` : val;
                }
                return `${acc} ${cur['neg'] ? '!' : ''}${KEYS[cur['name']]}:${cur['op']}${val}`;
            }, "").trim();
        }

        // update search form with given query string
        const updateSearchForm = function(query){
            console.log("Query", query);
            
            $(`${SEARCH_FORM} input`).val(query);
        }

        return {
            init: function() {
                // handler to activate operator selection
                $(`${QUERY_FORM} .eas_input`).on("change", function(e){
                    // if no operator is selected, select first
                    if($(`input[name='${this.name}.operator']:checked`).length === 0){
                        const radio = $(`input[name="${this.name}.operator"]`).first();
                        radio.prop('checked', true);
                        radio.parent().addClass("active");
                    }
                });

                // handler to trigger date range
                $(`input[name='date.operator']`).on("change", function(e){
                    // show date end picker
                    if (this.value == "<>"){
                        $(".eas_date_end").show();
                    }
                    else {
                        $(".eas_date_end").hide();
                    }
                });

                // handler to update query string
                $(QUERY_FORM).on("change", function(e){
                    const query = parseForm($(this));
                    updateSearchForm(query);
                });

                // handler to submit search form
                $(QUERY_FORM).on("submit", function(e){
                    e.preventDefault();
                    $(SEARCH_FORM).trigger("submit");
                })
            },
        };
    })();

    // init when dom ready
    $(function() {
        EAS.init();
    });
</script>

<form id="eas_form" action="#">
    <div class="eas_form_segment" data-index="0">
        {# category #}
        <label class="eas_label" for="eas_category">{{'eas.category'|trans}}:</label>
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-default eas-operator-btn" data-toggle="tooltip" data-placement="top" title="{{ 'eas.eq'|trans}}">
                <input type="radio" name="category.operator" value=""> =
            </label>
            <label class="btn btn-default eas-operator-btn" data-toggle="tooltip" data-placement="top" title="{{ 'eas.neq'|trans}}">
                <input type="radio" name="category.operator" value="!" > ≠
            </label>
        </div>
        <div class="eas_input_cell">
            <select class="eas_input eas_category" name="category" multiple="multiple" id="eas_category" style="height: 100%;">
                {% for label,id in eas_categories %}
                    <option value="{{id}}">{{ label | trans }} </option>
                {% endfor %}
            </select>
        </div>

        {# status #}
        <label class="eas_label" for="eas_status">{{'eas.status'|trans}}:</label>
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-default eas-operator-btn" data-toggle="tooltip" data-placement="top" title="{{ 'eas.eq'|trans}}">
                <input type="radio" name="status.operator" value=""> =
            </label>
            <label class="btn btn-default eas-operator-btn" data-toggle="tooltip" data-placement="top" title="{{ 'eas.neq'|trans}}">
                <input type="radio" name="status.operator" value="!" > ≠
            </label>
        </div>
        <div class="eas_input_cell">
            <select class="eas_input eas_status" name="status" multiple="multiple" id="eas_status" style="height: 100%;">
            {% for label,id in eas_status %}
                <option value="{{id}}">{{ label | trans }} </option>
            {% endfor %}
            </select>
        </div>

        {# barcode #}
        <label class="eas_label" for="eas_barcode">{{ 'eas.barcode'| trans }}:</label>
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-default eas-operator-btn" data-toggle="tooltip" data-placement="top" title="{{ 'eas.eq'|trans}}">
                <input type="radio" name="barcode.operator" value=""> =
            </label>
            <label class="btn btn-default eas-operator-btn" data-toggle="tooltip" data-placement="top" title="{{ 'eas.neq'|trans}}">
                <input type="radio" name="barcode.operator" value="!" > ≠
            </label>
        </div>
        <div class="eas_input_cell">
            <input class="eas_input" type="text" minlength="9" maxlength="9" name="barcode" id="eas_barcode"> 
        </div>

        {# name #}
        <label class="eas_label" for="eas_name">{{ 'eas.name'| trans }}</label>
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-default eas-operator-btn" data-toggle="tooltip" data-placement="top" title="{{ 'eas.eq'|trans}}">
                <input type="radio" name="name.operator" value=""> =
            </label>
            <label class="btn btn-default eas-operator-btn" data-toggle="tooltip" data-placement="top" title="{{ 'eas.neq'|trans}}">
                <input type="radio" name="name.operator" value="!" > ≠
            </label>
        </div>
        <div class="eas_input_cell">
            <input class="eas_input" type="text" name="name" id="eas_name"> 
        </div>
        
        {# description #}
        <label class="eas_label" for="eas_description">{{ 'eas.description'| trans }}:</label>
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-default eas-operator-btn" data-toggle="tooltip" data-placement="top" title="{{ 'eas.eq'|trans}}">
                <input type="radio" name="description.operator" value=""> =
            </label>
            <label class="btn btn-default eas-operator-btn" data-toggle="tooltip" data-placement="top" title="{{ 'eas.neq'|trans}}">
                <input type="radio" name="description.operator" value="!" > ≠
            </label>
        </div>
        <div class="eas_input_cell">
            <input class="eas_input" type="text" name="description" id="eas_description"> 
        </div>
        
        {# history_description #}
        <label class="eas_label" for="eas_history_description">{{ 'eas.history_description'| trans }}:</label>
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-default eas-operator-btn" data-toggle="tooltip" data-placement="top" title="{{ 'eas.eq'|trans}}">
                <input type="radio" name="history_description.operator" value=""> =
            </label>
            <label class="btn btn-default eas-operator-btn" data-toggle="tooltip" data-placement="top" title="{{ 'eas.neq'|trans}}">
                <input type="radio" name="history_description.operator" value="!" > ≠
            </label>
        </div>
        <div class="eas_input_cell">
            <input class="eas_input" type="text" name="history_description" id="eas_history_description"> 
        </div>
                
        {# user #}
        <label class="eas_label" for="eas_user">{{ 'eas.user'| trans }}:</label>
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-default eas-operator-btn" data-toggle="tooltip" data-placement="top" title="{{ 'eas.eq'|trans}}">
                <input type="radio" name="user.operator" value=""> =
            </label>
            <label class="btn btn-default eas-operator-btn" data-toggle="tooltip" data-placement="top" title="{{ 'eas.neq'|trans}}">
                <input type="radio" name="user.operator" value="!" > ≠
            </label>
        </div>
        <div class="eas_input_cell">
            <input class="eas_input" type="text" name="user" id="eas_user"> 
        </div>
        
        {# history_user #}
        <label class="eas_label" for="eas_history_user">{{ 'eas.history_user'| trans }}:</label>
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-default eas-operator-btn" data-toggle="tooltip" data-placement="top" title="{{ 'eas.eq'|trans}}">
                <input type="radio" name="history_user.operator" value=""> =
            </label>
            <label class="btn btn-default eas-operator-btn" data-toggle="tooltip" data-placement="top" title="{{ 'eas.neq'|trans}}">
                <input type="radio" name="history_user.operator" value="!" > ≠
            </label>
        </div>
        <div class="eas_input_cell">
            <input class="eas_input" type="text" name="history_user" id="eas_history_user"> 
        </div>
        
        {# reserved #}
        <label class="eas_label" for="eas_reserved">{{ 'eas.reserved'| trans }}:</label>
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-default eas-operator-btn" data-toggle="tooltip" data-placement="top" title="{{ 'eas.eq'|trans}}">
                <input type="radio" name="reserved.operator" value=""> =
            </label>
            <label class="btn btn-default eas-operator-btn" data-toggle="tooltip" data-placement="top" title="{{ 'eas.neq'|trans}}">
                <input type="radio" name="reserved.operator" value="!" > ≠
            </label>
            <label class="btn btn-default eas-operator-btn" data-toggle="tooltip" data-placement="top" title="{{ 'eas.any'|trans}}">
                <input type="radio" name="reserved.operator" value="*" > ✓
            </label>
            <label class="btn btn-default eas-operator-btn" data-toggle="tooltip" data-placement="top" title="{{ 'eas.none'|trans}}">
                <input type="radio" name="reserved.operator" value="-" > ✕
            </label>
        </div>
        <div class="eas_input_cell">
            <input class="eas_input" type="text" name="reserved" id="eas_reserved"> 
        </div>
        
        {# history_reserved #}
        <label class="eas_label" for="eas_history_reserved">{{ 'eas.history_reserved'| trans }}:</label>
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-default eas-operator-btn" data-toggle="tooltip" data-placement="top" title="{{ 'eas.eq'|trans}}">
                <input type="radio" name="history_reserved.operator" value=""> =
            </label>
            <label class="btn btn-default eas-operator-btn" data-toggle="tooltip" data-placement="top" title="{{ 'eas.neq'|trans}}">
                <input type="radio" name="history_reserved.operator" value="!" > ≠
            </label>
            <label class="btn btn-default eas-operator-btn" data-toggle="tooltip" data-placement="top" title="{{ 'eas.any'|trans}}">
                <input type="radio" name="history_reserved.operator" value="*" > ✓
            </label>
            <label class="btn btn-default eas-operator-btn" data-toggle="tooltip" data-placement="top" title="{{ 'eas.none'|trans}}">
                <input type="radio" name="history_reserved.operator" value="-" > ✕
            </label>
        </div>
        <div class="eas_input_cell">
            <input class="eas_input" type="text" name="history_reserved" id="eas_history_reserved"> 
        </div>
        
        {# location #}
        <label class="eas_label" for="eas_location">{{ 'eas.location'| trans }}:</label>
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-default eas-operator-btn" data-toggle="tooltip" data-placement="top" title="{{ 'eas.eq'|trans}}">
                <input type="radio" name="location.operator" value=""> =
            </label>
            <label class="btn btn-default eas-operator-btn" data-toggle="tooltip" data-placement="top" title="{{ 'eas.neq'|trans}}">
                <input type="radio" name="location.operator" value="!" > ≠
            </label>
            <label class="btn btn-default eas-operator-btn" data-toggle="tooltip" data-placement="top" title="{{ 'eas.any'|trans}}">
                <input type="radio" name="location.operator" value="*" > ✓
            </label>
            <label class="btn btn-default eas-operator-btn" data-toggle="tooltip" data-placement="top" title="{{ 'eas.none'|trans}}">
                <input type="radio" name="location.operator" value="-" > ✕
            </label>
        </div>
        <div class="eas_input_cell">
            <input class="eas_input" type="text" name="location" id="eas_location"> 
        </div>
        
        {# history_location #}
        <label class="eas_label" for="eas_history_location">{{ 'eas.history_location'| trans }}:</label>
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-default eas-operator-btn" data-toggle="tooltip" data-placement="top" title="{{ 'eas.eq'|trans}}">
                <input type="radio" name="history_location.operator" value=""> =
            </label>
            <label class="btn btn-default eas-operator-btn" data-toggle="tooltip" data-placement="top" title="{{ 'eas.neq'|trans}}">
                <input type="radio" name="history_location.operator" value="!" > ≠
            </label>
            <label class="btn btn-default eas-operator-btn" data-toggle="tooltip" data-placement="top" title="{{ 'eas.any'|trans}}">
                <input type="radio" name="history_location.operator" value="*" > ✓
            </label>
            <label class="btn btn-default eas-operator-btn" data-toggle="tooltip" data-placement="top" title="{{ 'eas.none'|trans}}">
                <input type="radio" name="history_location.operator" value="-" > ✕
            </label>
        </div>
        <div class="eas_input_cell">
            <input class="eas_input" type="text" name="history_location" id="eas_history_location"> 
        </div>
        
        {# case #}
        <label class="eas_label" for="eas_case">{{ 'eas.case'| trans }}:</label>
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-default eas-operator-btn" data-toggle="tooltip" data-placement="top" title="{{ 'eas.eq'|trans}}">
                <input type="radio" name="case.operator" value=""> =
            </label>
            <label class="btn btn-default eas-operator-btn" data-toggle="tooltip" data-placement="top" title="{{ 'eas.neq'|trans}}">
                <input type="radio" name="case.operator" value="!" > ≠
            </label>
            <label class="btn btn-default eas-operator-btn" data-toggle="tooltip" data-placement="top" title="{{ 'eas.any'|trans}}">
                <input type="radio" name="case.operator" value="*" > ✓
            </label>
            <label class="btn btn-default eas-operator-btn" data-toggle="tooltip" data-placement="top" title="{{ 'eas.none'|trans}}">
                <input type="radio" name="case.operator" value="-" > ✕
            </label>
        </div>
        <div class="eas_input_cell">
            <input class="eas_input" type="text" name="case" id="eas_case"> 
        </div>
        
        {# history_case #}
        <label class="eas_label" for="eas_history_case">{{ 'eas.history_case'| trans }}:</label>
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-default eas-operator-btn" data-toggle="tooltip" data-placement="top" title="{{ 'eas.eq'|trans}}">
                <input type="radio" name="history_case.operator" value=""> =
            </label>
            <label class="btn btn-default eas-operator-btn" data-toggle="tooltip" data-placement="top" title="{{ 'eas.neq'|trans}}">
                <input type="radio" name="history_case.operator" value="!" > ≠
            </label>
            <label class="btn btn-default eas-operator-btn" data-toggle="tooltip" data-placement="top" title="{{ 'eas.any'|trans}}">
                <input type="radio" name="history_case.operator" value="*" > ✓
            </label>
            <label class="btn btn-default eas-operator-btn" data-toggle="tooltip" data-placement="top" title="{{ 'eas.none'|trans}}">
                <input type="radio" name="history_case.operator" value="-" > ✕
            </label>
        </div>
        <div class="eas_input_cell">
            <input class="eas_input" type="text" name="history_case" id="eas_history_case"> 
        </div>
        
        {# caseactive #}
        <label class="eas_label">{{ 'eas.caseactive'| trans }}:</label>
        <span class="eas_empty"></span>
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-default eas-operator-btn" data-toggle="tooltip" data-placement="top" title="{{ 'eas.any'|trans}}">
                <input type="radio" name="caseactive.operator" value="*" > ✓
            </label>
            <label class="btn btn-default eas-operator-btn" data-toggle="tooltip" data-placement="top" title="{{ 'eas.none'|trans}}">
                <input type="radio" name="caseactive.operator" value="-" > ✕
            </label>
        </div>

        {# note #}
        <label class="eas_label" for="eas_note">{{ 'eas.note'| trans }}:</label>
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-default eas-operator-btn" data-toggle="tooltip" data-placement="top" title="{{ 'eas.eq'|trans}}">
                <input type="radio" name="note.operator" value=""> =
            </label>
            <label class="btn btn-default eas-operator-btn" data-toggle="tooltip" data-placement="top" title="{{ 'eas.neq'|trans}}">
                <input type="radio" name="note.operator" value="!" > ≠
            </label>
        </div>
        <div class="eas_input_cell">
            <input class="eas_input" type="text" name="note" id="eas_note"> 
        </div>
        
        {# type #}
        <label class="eas_label" for="eas_type">{{ 'eas.type'| trans }}:</label>
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-default eas-operator-btn" data-toggle="tooltip" data-placement="top" title="{{ 'eas.eq'|trans}}">
                <input type="radio" name="type.operator" value=""> =
            </label>
            <label class="btn btn-default eas-operator-btn" data-toggle="tooltip" data-placement="top" title="{{ 'eas.neq'|trans}}">
                <input type="radio" name="type.operator" value="!" > ≠
            </label>
            <label class="btn btn-default eas-operator-btn" data-toggle="tooltip" data-placement="top" title="{{ 'eas.any'|trans}}">
                <input type="radio" name="type.operator" value="*" > ✓
            </label>
            <label class="btn btn-default eas-operator-btn" data-toggle="tooltip" data-placement="top" title="{{ 'eas.none'|trans}}">
                <input type="radio" name="type.operator" value="-" > ✕
            </label>
        </div>
        <div class="eas_input_cell">
            <input class="eas_input" type="text" name="type" id="eas_type"> 
        </div>
        
        {# form_factor #}
        <label class="eas_label" for="eas_form_factor">{{ 'eas.form_factor'| trans }}:</label>
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-default eas-operator-btn" data-toggle="tooltip" data-placement="top" title="{{ 'eas.eq'|trans}}">
                <input type="radio" name="form_factor.operator" value=""> =
            </label>
            <label class="btn btn-default eas-operator-btn" data-toggle="tooltip" data-placement="top" title="{{ 'eas.neq'|trans}}">
                <input type="radio" name="form_factor.operator" value="!" > ≠
            </label>
            <label class="btn btn-default eas-operator-btn" data-toggle="tooltip" data-placement="top" title="{{ 'eas.any'|trans}}">
                <input type="radio" name="form_factor.operator" value="*" > ✓
            </label>
            <label class="btn btn-default eas-operator-btn" data-toggle="tooltip" data-placement="top" title="{{ 'eas.none'|trans}}">
                <input type="radio" name="form_factor.operator" value="-" > ✕
            </label>
        </div>
        <div class="eas_input_cell">
            <input class="eas_input" type="text" name="form_factor" id="eas_form_factor"> 
        </div>
        
        {# size #}
        <label class="eas_label" for="eas_size">{{ 'eas.size'| trans }}:</label>
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-default eas-operator-btn" data-toggle="tooltip" data-placement="top" title="{{ 'eas.eq'|trans}}">
                <input type="radio" name="size.operator" value=""> =
            </label>
            <label class="btn btn-default eas-operator-btn" data-toggle="tooltip" data-placement="top" title="{{ 'eas.neq'|trans}}">
                <input type="radio" name="size.operator" value="!" > ≠
            </label>
            <label class="btn btn-default eas-operator-btn" data-toggle="tooltip" data-placement="top" title="{{ 'eas.lt'|trans}}">
                <input type="radio" name="size.operator" value="<" > &lt;
            </label>
            <label class="btn btn-default eas-operator-btn" data-toggle="tooltip" data-placement="top" title="{{ 'eas.gt'|trans}}">
                <input type="radio" name="size.operator" value=">" > &gt;
            </label>
            <label class="btn btn-default eas-operator-btn" data-toggle="tooltip" data-placement="top" title="{{ 'eas.any'|trans}}">
                <input type="radio" name="size.operator" value="*" > ✓
            </label>
            <label class="btn btn-default eas-operator-btn" data-toggle="tooltip" data-placement="top" title="{{ 'eas.none'|trans}}">
                <input type="radio" name="size.operator" value="-" > ✕
            </label>
        </div>
        <div class="eas_input_cell">
            <input class="eas_input" type="text" name="size" id="eas_size"> 
        </div>
        
        {# manufacturer #}
        <label class="eas_label" for="manufacturer">{{ 'eas.manufacturer'| trans }}:</label>
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-default eas-operator-btn" data-toggle="tooltip" data-placement="top" title="{{ 'eas.eq'|trans}}">
                <input type="radio" name="manufacturer.operator" value=""> =
            </label>
            <label class="btn btn-default eas-operator-btn" data-toggle="tooltip" data-placement="top" title="{{ 'eas.neq'|trans}}">
                <input type="radio" name="manufacturer.operator" value="!" > ≠
            </label>
            <label class="btn btn-default eas-operator-btn" data-toggle="tooltip" data-placement="top" title="{{ 'eas.any'|trans}}">
                <input type="radio" name="manufacturer.operator" value="*" > ✓
            </label>
            <label class="btn btn-default eas-operator-btn" data-toggle="tooltip" data-placement="top" title="{{ 'eas.none'|trans}}">
                <input type="radio" name="manufacturer.operator" value="-" > ✕
            </label>
        </div>
        <div class="eas_input_cell">
            <input class="eas_input" type="text" name="manufacturer" id="manufacturer"> 
        </div>
        
        {# model #}
        <label class="eas_label" for="eas_model">{{ 'eas.model'| trans }}:</label>
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-default eas-operator-btn" data-toggle="tooltip" data-placement="top" title="{{ 'eas.eq'|trans}}">
                <input type="radio" name="model.operator" value=""> =
            </label>
            <label class="btn btn-default eas-operator-btn" data-toggle="tooltip" data-placement="top" title="{{ 'eas.neq'|trans}}">
                <input type="radio" name="model.operator" value="!" > ≠
            </label>
            <label class="btn btn-default eas-operator-btn" data-toggle="tooltip" data-placement="top" title="{{ 'eas.any'|trans}}">
                <input type="radio" name="model.operator" value="*" > ✓
            </label>
            <label class="btn btn-default eas-operator-btn" data-toggle="tooltip" data-placement="top" title="{{ 'eas.none'|trans}}">
                <input type="radio" name="model.operator" value="-" > ✕
            </label>
        </div>
        <div class="eas_input_cell">
            <input class="eas_input" type="text" name="model" id="eas_model"> 
        </div>
        
        {# product_number #}
        <label class="eas_label" for="eas_product_number">{{ 'eas.product_number'| trans }}:</label>
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-default eas-operator-btn" data-toggle="tooltip" data-placement="top" title="{{ 'eas.eq'|trans}}">
                <input type="radio" name="product_number.operator" value=""> =
            </label>
            <label class="btn btn-default eas-operator-btn" data-toggle="tooltip" data-placement="top" title="{{ 'eas.neq'|trans}}">
                <input type="radio" name="product_number.operator" value="!" > ≠
            </label>
            <label class="btn btn-default eas-operator-btn" data-toggle="tooltip" data-placement="top" title="{{ 'eas.any'|trans}}">
                <input type="radio" name="product_number.operator" value="*" > ✓
            </label>
            <label class="btn btn-default eas-operator-btn" data-toggle="tooltip" data-placement="top" title="{{ 'eas.none'|trans}}">
                <input type="radio" name="product_number.operator" value="-" > ✕
            </label>
        </div>
        <div class="eas_input_cell">
            <input class="eas_input" type="text" name="product_number" id="eas_product_number"> 
        </div>

        {# serial_number #}
        <label class="eas_label" for="eas_serial_number">{{ 'eas.serial_number'| trans }}:</label>
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-default eas-operator-btn" data-toggle="tooltip" data-placement="top" title="{{ 'eas.eq'|trans}}">
                <input type="radio" name="serial_number.operator" value=""> =
            </label>
            <label class="btn btn-default eas-operator-btn" data-toggle="tooltip" data-placement="top" title="{{ 'eas.neq'|trans}}">
                <input type="radio" name="serial_number.operator" value="!" > ≠
            </label>
            <label class="btn btn-default eas-operator-btn" data-toggle="tooltip" data-placement="top" title="{{ 'eas.any'|trans}}">
                <input type="radio" name="serial_number.operator" value="*" > ✓
            </label>
            <label class="btn btn-default eas-operator-btn" data-toggle="tooltip" data-placement="top" title="{{ 'eas.none'|trans}}">
                <input type="radio" name="serial_number.operator" value="-" > ✕
            </label>
        </div>
        <div class="eas_input_cell">
            <input class="eas_input" type="text" name="serial_number" id="eas_serial_number"> 
        </div>

        {# connector #}
        <label class="eas_label" for="eas_connector">{{ 'eas.connector'| trans }}:</label>
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-default eas-operator-btn" data-toggle="tooltip" data-placement="top" title="{{ 'eas.eq'|trans}}">
                <input type="radio" name="connector.operator" value=""> =
            </label>
            <label class="btn btn-default eas-operator-btn" data-toggle="tooltip" data-placement="top" title="{{ 'eas.neq'|trans}}">
                <input type="radio" name="connector.operator" value="!" > ≠
            </label>
            <label class="btn btn-default eas-operator-btn" data-toggle="tooltip" data-placement="top" title="{{ 'eas.any'|trans}}">
                <input type="radio" name="connector.operator" value="*" > ✓
            </label>
            <label class="btn btn-default eas-operator-btn" data-toggle="tooltip" data-placement="top" title="{{ 'eas.none'|trans}}">
                <input type="radio" name="connector.operator" value="-" > ✕
            </label>
        </div>
        <div class="eas_input_cell">
            <input class="eas_input" type="text" name="connector" id="eas_connector"> 
        </div>


        {# date #}
        <label class="eas_label" for="eas_date">{{ 'eas.date'| trans }}:</label>
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-default eas-operator-btn" data-toggle="tooltip" data-placement="top" title="{{ 'eas.eq'|trans}}">
                <input type="radio" name="date.operator" value=""> =
            </label>
            <label class="btn btn-default eas-operator-btn" data-toggle="tooltip" data-placement="top" title="{{ 'eas.neq'|trans}}">
                <input type="radio" name="date.operator" value="!" > ≠
            </label>
            <label class="btn btn-default eas-operator-btn" data-toggle="tooltip" data-placement="top" title="{{ 'eas.lt'|trans}}">
                <input type="radio" name="date.operator" value="<" > &lt;
            </label>
            <label class="btn btn-default eas-operator-btn" data-toggle="tooltip" data-placement="top" title="{{ 'eas.gt'|trans}}">
                <input type="radio" name="date.operator" value=">" > &gt;
            </label>
            <label class="btn btn-default eas-operator-btn" data-toggle="tooltip" data-placement="top" title="{{ 'eas.range'|trans}}" style="padding-left: 9px;">
                <input type="radio" name="date.operator" value="<>" > &lt;&gt;
            </label>
        </div>
        <div class="eas_input_cell">
            <input class="eas_input" type="date" name="date" id="eas_date"> 
        </div>
   
        <label for="eas_date_end" class="eas_label eas_date_end" style="grid-column: 4 / span 2; display: none">{{ 'eas.date_end'| trans }}:</label>
        <div class="eas_input_cell eas_date_end" style="display: none;" >
            <input class="" type="date" id="eas_date_end" > 
        </div>

        <input type="submit" hidden />
    </div>
</form>